* {
   font-family: "Montserrat", sans-serif;
}

/* Eliminare margine superfluo */
body{
   margin: 0%;
}

nav {
   background-color: rgba(38, 38, 38, 0.744);

   /* Allineare gli elementi */
   display: flex;

   /* Spostare gli elementi a destra */
   justify-content: space-between;

   /* Allineare verticalmente i link */
   align-items: center;
}

.logoAulab {
   width: 100px;
   height: 100px;
}

.link {
   text-decoration: none;
   color: white;

   /* Distanziare i link */
   margin-right: 10px;
}

   /* Aggiungere un border bottom ai link hover */

.link:hover {
  border-bottom: 2px solid rgb(216, 216, 87);
   }

.listlink {
   list-style-type: none;

   /* Allineare i link all'interno della lista */
   display: flex;
}

header {
   background-image: url(./media/background.jpg);
   height: 80vh;
   background-size: cover;
   background-position: center;

   /* Allineare gli elementi */
   display: flex;
   /* Incolonnare gli elementi (assi invertiti) */
   flex-direction: column;
   /* Allineamento orizzontale */
   align-items: center;
   /* Allineamento verticale*/
   justify-content: center;
}

h1, h2, h4 {
   font-family:'Roboto', sans-serif;
} 

h1 {
   color: white;
   font-size: 50px;
}

.linkHome {
   color: white;
   text-decoration: none;
}

.btnArticle {
   background-color: rgba(38, 38, 38, 0.744);
   color: white;
}

.btnArticle:hover {
   background-color: rgb(216, 216, 87);
   color: black;
}

.titleArticle {
  text-align: center;
}

/* Assegnazione di una dimensione alle immagini */
.imgArticle {
   width: 300px;
 }

/* Allineare orizzontamente gli articoli */ 
.containerArticle {
   display: flex;

   /* Assegnare dimensione al contenitore degli articoli */
   width: 60%;
}
 
/* Personalizzare la sidebar */
aside {
   background-color: rgb(216, 216, 87);
   display: flex;
   /* Incolonnare titolo e descrizione */
   flex-direction: column;
   /* Allineare in questo caso gli elementi */
   justify-content: center;
}

/* Per allineare la sidebar diamo display: flex al main che è il padre della sidebar e degli articoli */
main {
   display: flex;
}


footer {
   background-color: rgba(38, 38, 38, 0.744);

   /* Allineare elementi */
   display: flex;
   /* Dare spazio a dx e sx degli elementi */
   justify-content: space-around;
   color: white;

/* Centrare elementi footer in verticale */
align-items: center;

/* Assegnare altezza al footer */
height: 30vh;

/* Dare più spazio tra il footer e i link attraverso margin-top */
margin-top: 100px;
}

/* Dimensionare l'immagine icona */
.imgIcon {
   width: 50px;
   height: 50px;

   /* Assegnare animazione icona */
   animation-name: Icon;
   animation-duration: 2s;
   animation-iteration-count: infinite;

   /* Fissare il bottom */
   position: fixed;
   /* proprietà direzionali */
   top: 80vh;
}

 /* Assegnare animazione icona */
 @keyframes Icon {
   /* inizio */
   0%{
      transform: translateY(50px);
     
   } 100%{  /* fine */
      transform: translateY(0px);
   }
 }



 /* Media query per la proprietà responsive */
 @media screen and (max-width: 670px) {

   /* Iniziamo dalla navbar */
   .link { 
      font-size: 10px;
   }
   .logoAulab {
      width: 50px;
      height: 50px;
   }

   /* Header ok */

   /* main, article */
   .containerArticle{
      display: block;

      /* vogliamo gli articoli al centro e la sidebar in basso */
      width: 100%;
   }

   aside {
      width: 100%;
      display: block;
   }

   main {
      /* posizionare al suo interno gli elementi uno sotto l'altro */
      display: block;
   }

   article {
      margin: 50px 0px;
   }

   /* footer */
   footer {
      display: block;
   }


 }
   
 